  <h1>Products</h1>

  <div class="product-search">
    <%= form_tag("/products", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
  </div>

  <div class="row product-row">
    <%= render @products %>
  </div>


  <br>

  <%= link_to 'New Product', new_product_path %>
