<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <div class="product-search">
  <%= form_tag("/products", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

  <br>

  <%= link_to 'New Product', new_product_path %>

</div>