<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= image_tag(@product.image_url, class: "img-responsive detail") %>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="grid-description-detail">
        <div class="description-detail">
          <div class="">
            <h3><%= @product.name %></h3>
            <h5>$<%= @product.price %></h5>
            <h5><%= @product.colour %></h5>
            <p><%= @product.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12"> 

      <% if !@product.comments.empty? %>
        
        <h3>User Ratings</h3>
        <div class="col-md-6 col-xs-12">
            <div class="container-rating">
              <% @product.highest_rating_comment.rating.times do %>
                <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>
              <h5>Best Review:</h5>
              <p>"<%= @product.highest_rating_comment.body%>"</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="container-rating">
              <% @product.lowest_rating_comment.rating.times do %>
                <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>
              <h5>Worst Review:</h5>
              <p>"<%= @product.lowest_rating_comment.body%>"</p>
            </div>
        </div>

      <% end %>
    </div>
  </div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>